<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://o365regionalsettingsapptest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/66ae37df-2634-4977-b333-a82db81840b7/resourcegroups/AzureFunctions-NorthEurope/providers/Microsoft.Web/sites/O365RegionalSettingsAppTest</ResourceId>
    <UserName>$O365RegionalSettingsAppTest</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://o365regionalsettingsapptest.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>